$dark-main-bg: #0d0d0d;
$dark-white-100: rgba(255, 255, 255, 0.1);
$dark-white---250: rgba(255, 255, 255, 0.25);
$dark-white---700: rgba(255, 255, 255, 0.7);
$dark-black---500: rgba(21, 21, 21, 0.5);
$dark-card-border: #383737;
$basic-dark-gray: #808080;
$basic-medium-gray: rgba(127, 127, 127, 0.5);
$basic-light-gray: #c5c5c5;
$basic-white: #fff;
$basic-onyx: #181818;
$basic-light-blue: rgba(63, 100, 234, 0.43);
$basic-light-red: rgba(233, 63, 64, 0.43);
$basic-light-yellow: rgba(255, 184, 0, 0.43);
$light-main-bg: #fbfbfb;
$light-card-border: #ebebeb;
$light-card-bg: #f6f6f6;
$light-black---100: rgba(0, 0, 0, 0.1);
$light-faint-white: #f3f3f3;
$light---black---500: rgba(0, 0, 0, 0.5);