@use '/src/sass/base/variables.scss'as *;

.about {
    &__title {
        padding-top: 86px;
    }

    &__line {
        border: 1px solid $dark-white-100;
        width: 100%;
        height: 0px;
        margin: 60px 0;
    }

    &__link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $basic-white;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 65px;

        &-col {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-uppercase {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            color: rgba(127, 127, 127, 0.47);
        }
    }

    &__autograph {
        color: $basic-white;
    }

    .btn-primery {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 111px;

        svg {
            transform: translateY(-7%);
        }
    }

    .links {
        margin-top: 30px;
    }

    #autograph-lg {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
        }

        &__img {
            grid-area: 1 / 1;
            grid-column: 2;
            justify-self: right;
        }

        &__btn {
            grid-area: 1 / 1;
            display: flex;
            align-items: center;
            position: relative;
            grid-column: 2;
        }

        &__text {
            margin: 0;
            grid-column: 1;
        }

        #autograph-sm {
            display: none;
        }

        #autograph-lg {
            display: inline;
        }

        .main-text {
            font-size: 18px;
        }

        .btn-primery {
            margin: 0;
            position: absolute;
            left: 48%;
            top: 60%;
        }
    }
}