@use '/src/sass/base/variables.scss'as *;

.contacts {
    &__form {

        border: 1px solid $dark-card-border;
        border-radius: 12px;
        padding: 24px 16px;
        width: 100%;
        box-shadow: 0 19px 30px 0 rgba(0, 0, 0, 0.2);
        background: $basic-onyx;
    }

    .email,
    .name,
    .subject {
        padding-bottom: 14px;
        border-bottom: 1px solid $dark-white-100;
        width: 100%;
        margin-top: 16px;
    }

    .form {
        display: flex;
        flex-direction: column;

        &__label {

            &-email,
            &-name,
            &-subject {
                font-weight: 500;
                font-size: 14px;
                color: $basic-white;
            }
        }

        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 41px;

            &-title {
                font-weight: 500;
                font-size: 16px;
                color: $basic-white;
                width: 100%;
            }

            &-btn {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }

        &__main {
            margin-top: 24px;

            &-text {
                #textarea {
                    border-radius: 12px;
                    padding: 24px;
                    height: 335px;
                    width: 100%;
                    box-shadow: 0 19px 30px 0 rgba(0, 0, 0, 0.2);
                    background: $dark-main-bg;
                }
            }
        }

        &__footer {
            &-btn {
                width: 100%;
            }
        }
    }

    input {
        background-color: transparent;
        border: none;

        &:focus {
            border: none;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.01em;
            color: $basic-medium-gray;
        }
    }

    #red {
        background-color: #d62929;
    }

    #yellow {
        background-color: #cea435;
    }

    #green {
        background-color: #53cc28;

    }

    .btn-circle {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        gap: 44px;
        padding: 53px;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        .form {
            &__label {

                &-email,
                &-name,
                &-subject {
                    font-size: 16px;
                }
            }
        }

        input {
            &::placeholder {
                font-size: 16px;
            }
        }
    }
}