@use '/src/sass/base/variables.scss'as *;

.author {
    padding-top: 32px;

    &__bg {
        display: none;
        position: absolute;
        left: 70%;
        top: 86%;
        color: #D9D9D9;
    }

    &__logo {
        text-align: center;

        &-link {
            color: $basic-white;
        }

        &-link {
            display: block;
        }
    }

    &__descr {
        display: inline-block;

        &:nth-child(0) {
            margin-top: 15px;
        }
    }

    &__title {
        position: relative;
        margin-top: 307px;

        &-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        &-gray {
            color: $basic-dark-gray;
        }
    }

    &__buttons {
        margin-top: 56px;
        gap: 17px;
    }
}

@media screen and (max-width: 320px) {
    .author {
        &__title-name {
            flex-direction: column;
            text-align: center;
            gap: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .author {
        padding-top: 170px;

        &__logo {
            display: none;
        }

        &__title {
            margin-top: 0;

            &-greeting {
                display: none;
            }
        }

        &__descr {
            margin-top: 10px;
        }

        &__buttons {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .author {
        &__bg {
            display: block;
        }
    }
}