@use '/src/sass/base/variables.scss'as *;

.author {
    padding-top: 32px;

    &__logo {
        text-align: center;

        &-link {
            display: block;
        }
    }

    &__descr {
        display: inline-block;
        margin-top: 15px;
    }

    &__title {
        margin-top: 307px;

        &-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        &-gray {
            color: $basic-dark-gray;
        }
    }

    &__buttons {
        margin-top: 56px;
        gap: 17px;
    }
}

@media screen and (max-width: 320px) {
    .author {
        &__title-name {
            flex-direction: column;
            text-align: center;
            gap: 0;
        }
    }
}