.footer {
    position: relative;

    a {
        text-decoration: none;
    }

    .gradient__bottom {
        position: absolute;
        width: 100vw;
        height: 200px;
        transform: rotate(180deg);
        bottom: 0;
    }
}