@use '/src/sass/base/variables.scss'as *;

.header {
    position: relative;

    .gradient {
        &__top {
            position: absolute;
            width: 100%;
        }
    }

    .nav {
        &__mobile {
            position: fixed;
            bottom: 20px;
            z-index: 99999;
            border-radius: 12px;
            backdrop-filter: blur(4px);
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            padding: 10px 16px;
        }

        &__items {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 40px;
        }

        &__dropdown-menu {
            position: fixed;
            width: 100%;
            left: 0;
            height: 65vh;
            top: 20%;
            opacity: 0;
            transition: all 0.5s ease;

            .dropdown {
                &-items {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;
                    padding: 0 16px;
                    padding-top: 22px;
                }

                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 56px;
                    width: 100%;
                    padding: 0 16px;
                    background-color: $dark-white-100;
                    border-radius: 12px;

                    a {
                        color: $basic-white;
                        text-decoration: none;
                    }
                }

                &__menu-wrapper {
                    backdrop-filter: blur(4px);
                }
            }
        }
    }
}