.header {
    position: relative;

    .gradient {
        &__top {
            position: absolute;
            width: 100%;
        }
    }

    .nav {
        &__mobile {
            position: fixed;
            bottom: 0;
            z-index: 99999;
            border: 1px solid rgba(39, 38, 44, 0.38);
            border-radius: 12px;
            backdrop-filter: blur(4px);
            background: rgba(24, 24, 29, 0.6);
            width: 100%;
        }

        &__items {}
    }
}