@use '/src/sass/base/variables.scss'as *;

.header {
    position: relative;

    .container {
        padding-top: 32px;
    }

    .gradient {
        &__top {
            position: absolute;
            width: 100%;
        }
    }

    .nav {
        &__lg {
            display: none;
            backdrop-filter: blur(4px);
            // background: rgba(24, 24, 29, 0.3);
            padding: 17px 16px;
            border-radius: 12px;

            &-logo {
                color: white;
            }

            &-drop {
                display: none;
                position: absolute;
                flex-direction: column;
                gap: 16px;
                bottom: -700%;
                left: 64%;
                border-radius: 0 0 12px 12px;
                padding: 16px 24px;
                backdrop-filter: blur(12px);
                box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.11),
                    inset 0 8px 5px 0 rgba(0, 0, 0, 0.07);
                background: rgba(24, 24, 24, 0.6);
                width: 133px;
                height: 121px;
                transition: all 0.5s ease;

                &-active {
                    display: flex;
                }
            }

            &-social {
                display: flex;
                gap: 24px;
                color: $basic-light-gray;

                svg {
                    &:hover {
                        color: $basic-white;
                    }
                }


                svg {
                    cursor: pointer;
                }
            }

            &-links {
                position: relative;

                .link {
                    a {
                        text-decoration: none;
                    }
                }

                display: flex;
                align-items: center;
                gap: 20px;
            }

            &-switcher {
                display: flex;
                cursor: pointer;
                color: $basic-light-gray;

                &:hover {
                    color: $basic-white;
                }
            }

            .links {
                &-nav {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    cursor: pointer;
                }

                &-arrow {
                    display: flex;
                }
            }

            &-col {
                display: flex;
                text-align: center;
                align-items: center;
                gap: 20px;
            }

            &-logo {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &-wrap {
                display: flex;
                justify-content: space-between;
            }
        }

        &__mobile {
            position: fixed;
            bottom: 20px;
            z-index: 99999;
            border-radius: 12px;
            backdrop-filter: blur(4px);
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            padding: 10px 16px;
        }

        &__items {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 40px;
        }

        &__dropdown-menu {
            position: fixed;
            width: 100%;
            left: 0;
            height: 65vh;
            top: 20%;
            z-index: 999999;
            opacity: 0;
            transition: all 0.5s ease;

            .dropdown {

                &-items {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;
                    padding: 0 16px;
                    padding-top: 22px;
                }

                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 56px;
                    width: 100%;
                    padding: 0 16px;
                    background-color: $dark-white-100;
                    border-radius: 12px;

                    a {
                        color: $basic-white;
                        text-decoration: none;
                    }
                }

                &__menu-wrapper {
                    backdrop-filter: blur(4px);
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .header {
        .nav {
            &__mobile {
                display: none;
            }

            &__lg {
                display: block;
            }

            &__dropdown-menu {
                display: none;
            }
        }

        .gradient__top {
            height: 300px;
            backdrop-filter: blur(4px);
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {
        .nav {
            &__lg {
                &-drop {
                    left: 71%;
                }

                &-links,
                &-logo {
                    gap: 40px;
                }
            }
        }
    }
}