@use '/src/sass/base/variables.scss'as *;

.knowledge {
    &__cards {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 1px solid $dark-card-border;
        border-radius: 32px;
        background: #151515;
        // height: 356px;
        padding-top: 32px;
        gap: 8px;

        &-img {
            &:nth-child(1) {
                width: 158px;
            }

            &:nth-child(4) {
                width: 215px;
            }
        }
    }
}