@use '/src/sass/base/variables.scss'as *;

.knowledge {
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 1px solid $dark-card-border;
        border-radius: 32px;
        background: #151515;
        max-width: 504px;
        max-height: 504px;
        padding-top: 32px;
        gap: 8px;
        overflow: hidden;

        picture {
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 768px) {
    .knowledge {
        &__cards {
            display: grid;
            grid-template-columns: repeat(2, minmax(404px, 504px));
            grid-template-rows: repeat(2, minmax(404px, 504px));
        }
    }
}