.touch {
    padding-top: 60px;

    &__wrapper {
        text-align: center;
    }

    &__text {
        display: inline-flex;
        flex-direction: column;
        gap: 8px;
    }

    &__btn {
        margin-top: 34px;

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;

            svg {
                transform: translateY(-7%);
            }
        }
    }
}