.touch {
    padding-top: 60px;

    &__wrapper {
        text-align: center;
    }

    &__text {
        display: inline-flex;
        flex-direction: column;
        gap: 8px;
    }

    &__btn {
        margin-top: 34px;

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;

            svg {
                transform: translateY(-7%);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__text {
            flex: 1 0 50%;
            text-align: left;

            .title-h3 {
                font-size: 48px;
            }

            .main-text {
                font-size: 20px;
            }
        }

        &__btn {
            display: flex;
            flex: 1 0 50%;
            align-items: center;
            justify-content: end;
            margin: 0;

            button {
                width: 201px;
            }
        }
    }
}