@use '/src/sass/base/variables.scss'as *;

.work {
    padding-top: 137px;

    &__wrapper {
        gap: 36px;
        margin-top: 16px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        border: 1px solid $dark-card-border;
        border-radius: 32px;
        backdrop-filter: blur(21px);
        background: $dark-black---500;
        padding: 32px 19px 32px 24px;

        &-column {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-img {
            display: none;
        }

        &-link {
            span {
                margin-left: 7px;
            }
        }

        // &-column {
        //     &:nth-child(1) {
        //         flex: 1 0 50%;
        //         padding: 60px 0 60px 60px;
        //     }
        // }
    }
}