@use '/src/sass/base/variables.scss'as *;

// Swither
//--bg-main

.light-bg {
    background-color: $light-main-bg;

    .title-h1,
    .title-h2,
    .title-h3,
    .title-h4,
    .title-h5,
    .title-h6 {
        color: $basic-onyx;
    }

    .author {
        &-bg {
            color: #808080;
        }

        &__title-gray {
            color: #808080;
        }

        &__logo-link {
            color: $basic-dark-gray;
        }

        .btn {
            &-primery {
                background: linear-gradient(180deg, #1a1a1a 0%, #131313 100%);
            }

            &-secondary {
                color: $basic-onyx;
                background: $light-faint-white;
            }
        }

    }

    .links-card {
        color: $basic-onyx !important;
    }

    .nav__lg {
        border: 1px solid $dark-white---250;
        border-radius: 12px;
        backdrop-filter: blur(4px);
        background: $dark-white---250;


        &-logo {
            color: $basic-onyx !important;
        }

        &-social {
            color: $basic-onyx !important;
        }

        &-drop {
            background: $dark-white---250 !important;
            border: 1px solid --light-card-border !important;
        }
    }

    .knowledge__card {
        border: 1px solid $light-card-border;
        background: $light-card-bg;
    }

    .links-nav {
        color: $basic-onyx;
    }

    .work__card {
        border: 1px solid $light-card-border;
        background: $light-card-bg;
    }

    .hover-menu {
        &:hover {
            color: $dark-black---500;
        }
    }

    .footer {
        &__logo {
            color: $basic-onyx;
        }

        &__text {
            color: $basic-onyx;
        }

        .main-text {
            color: $basic-onyx;
        }
    }

    .about__autograph,
    .about__link {
        color: $basic-onyx;
    }

    transition: all 0.3s;
}

.dark-bg {
    background-color: $dark-main-bg;
    transition: background-color 0.3s;
}

.nav {
    &-dark {
        background: rgba(24, 24, 29, 0.6);
        border: 1px solid rgba(39, 38, 44, 0.38);
    }

    &-light {
        background: rgba(24, 24, 29, 0.3);
        border: 1px solid rgba(39, 38, 44, 0.3);
    }
}

//Active
//--nav

.active {
    &-dark {
        border-radius: 12px;
        background: $dark-white-100;
    }

    &-light {
        border-radius: 12px;
        background: $dark-black---500;
    }
}

//--dropdown-mobile 

.nav__dropdown-menu {
    &-active {
        opacity: 1 !important;
    }
}

//HOVER

//--hover-menu

.hover-menu {
    &:hover {
        color: $basic-white;
    }
}