@use '/src/sass/base/variables.scss'as *;
@use '/src/sass/base/mixins.scss'as *;

.title-h1 {
    @include title;
    font-size: 48px;
}

.title-h2 {
    @include title;
    font-weight: 700;
    font-size: 32px
}

.title-h3 {
    @include title;
    font-size: 24px;
}

.title-h4 {
    @include title;
    font-size: 20px;
}

.title-h6 {
    @include title-ui;
}

.description {
    @include text;
    font-weight: 500;
    line-height: 133%;
}

.main-text {
    @include text;
}

.links-nav {
    @include link;
}

.links-card {
    @include link;
    color: $basic-white;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .title-h1 {
        font-size: 65px;
    }

    .title-h2 {
        font-size: 48px;
    }

    .title-h3 {
        font-size: 32px;
    }

    .description {
        font-size: 24px;
        line-height: 150%;
    }
}

@media screen and (min-width: 1440px) {
    .title-h1 {
        font-size: 80px;
    }
}